{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bank</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    {% include 'nav.html' %}
    <center>

        <!-- Message POPUP -->
        {% if messages %}
            {% for message in messages %}
                <div class="alert {{ message.tags }} flash-message">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        <!--  -->



        {% block content %}
            <!-- page content -->
        {% endblock %}



        <!-- java script -->
        <script>
            setTimeout(function(){ 
                let flashes = document.querySelectorAll('.flash-message');
                flashes.forEach(f => f.style.display = 'none');
            }, 2000);
        </script>
        <!--  -->

    </center>
</body>
</html>